<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/fav.png" type="image/png">

</head>
<body class="bg-gradient-to-br from-purple-600 via-indigo-500 to-blue-500 min-h-screen flex items-center justify-center text-white font-sans">

    <div class="text-center">
        <h1 class="text-5xl font-bold mb-8">Welcome to the Quiz App</h1>
        <a href="/quiz" class="inline-block bg-red-600 text-white py-4 px-8 rounded-full shadow-lg text-xl font-semibold hover:bg-blue-700 transition duration-300">Start Quiz</a>
    </div>

</body>
</html>
